export PATH=${PATH}:${HOME}/.local/bin
export PYTHONPATH=${HOME}/.local/lib/python3.12/site-packages
alias python=/usr/bin/python3.12
source /opt/intel/oneapi/setvars.sh
alias pip=/usr/local/bin/pip3.12

